.speed-dropdown {
  width: 160px !important;
}

.algo-dropdown {
  width: 100px !important;
}

.grid-size-dropdown {
  width: 164px !important;
  text-align: center !important;
  background-color: #e03997 !important;
  color: white !important;
  margin-right: 0 !important;

  i {
    display: none;
  }

  .input {
    width: 120px !important;
  }

  button {
    margin: 10px !important;
    width: calc(100% - 20px);
  }
}

.save-modal {
  width: 70%;

  .save-modal-content {
    height: 70vh;
    overflow-y: overlay;
    padding-right: 15px;
  }
}

.info {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

@media only screen and (max-width: 1120px) {
  .hidden-icon {
    display: none !important;
  }
}

.side-bar-close-btn {
  width: 37px;
  height: 37px;
  margin: 5px 5px 5px auto !important;
}

.side-bar-content {
  margin-top: 0 !important;
}
